<Section>
<PackHeader>{{.Name}}</PackHeader> {{template "status-badge.tmpl" .Status}}
{{if .Files}}{{range .Files}}{{template "file.tmpl" .}}{{end}}{{else}}<Indent><NoContent>No files to process.</NoContent></Indent>
{{end}}</Section>